*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.rar
*.mobi
*.epub
*.pdf

hs_err_pid*

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

nbactions.xml
nb-configuration.xml

idea/
.idea/
*.iml
*.iws

# OSX
.DS_Store

Desktop.ini

.svn
.classpath

*.log
asciidocfx.install4j~
log

nashorn_code_cache


*.p12