<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true">

    <Appenders>
        <TableViewLogAppender name="TABLEAPPENDER" ignoreExceptions="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <!--<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />-->
            </Filters>
        </TableViewLogAppender>

        <RollingFile name="RollingFile" fileName="log/asciidocfx.log" ignoreExceptions="false"
                     filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="TABLEAPPENDER"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>