%div{:id=>@id, :class=>['literalblock', role, ('slide' if option? :step)]}
  - if title?
    .title=title
  .content
    %pre{:class=>(!(@document.attr? :prewrap) || (option? :nowrap) ? 'nowrap' : nil)}=content
