@import '../Shared.css';

.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background: rgb(50, 50, 50);
}

/* Buttons */

.button,
.menu-button,
.number-button,
.toggle-button,
.choice-box {
    -fx-background-color: linear-gradient(rgb(123, 123, 123), rgb(95, 95, 95));
    -fx-border-color: rgb(95, 95, 95);
}

.button:hover,
.menu-button:hover,
.toggle-button:hover,
.toggle-button:selected,
.toggle-button:focused,
.choice-box:hover {
    -fx-background-color: rgb(89, 89, 89);
}

/* Tabs */
.tab-close-button {
    -fx-background-color: #676768;
}

.tab-close-button:hover {
    -fx-background-color: #bbbbbb;
}

/* Scroll Bar */
.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb {
    -fx-background-color: #676767;
}

.scroll-bar:vertical .thumb:hover, .scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #aaaaaa;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: #3b3b3b;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #aaaaaa;
}

/* Editor Top */
.top-menu .top-label, .top-menu .top-label *, #showHideLogs * {
    -fx-text-fill: derive(-fx-base, 95%);
    -fx-icon-color: -fx-text-fill;
}

.top-menu .top-label:hover, .top-menu .top-label *:hover, #showHideLogs *:hover {
    -fx-text-fill: -fx-text-background-color;
    -fx-icon-color: -fx-text-fill;
}

.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, 100%);
}

/* Tooltip */
.tooltip {
    -fx-border-color: rgb(175, 175, 175);
    -fx-background-color: rgb(244, 244, 244);
    -fx-text-fill: -fx-base;
}

/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell *,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
    -fx-background: -fx-selection-bar;
    -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
    -fx-text-fill: -fx-text-background-color;
    -fx-icon-color: -fx-text-fill;
}

/* Selected when control is not focused */
.list-cell:filled:selected,
.tree-cell:filled:selected,
.tree-cell:filled:selected *,
.table-row-cell:filled:selected,
.tree-table-row-cell:filled:selected,
.table-row-cell:filled > .table-cell:selected,
.tree-table-row-cell:filled > .tree-table-cell:selected {
    -fx-background: -fx-selection-bar-non-focused;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
    -fx-text-fill: -fx-base;
    -fx-icon-color: -fx-text-fill;
}

.log-viewer .message-column {
    -fx-text-fill: #ffffff;
    -fx-fill: -fx-text-fill;
    -fx-font-weight: bold;
}

.tab:selected {
    -fx-background-color: linear-gradient(derive(-fx-base, 35%),-fx-base);
}