%div{:id=>@id, :class=>['quoteblock', role, ('slide' if option? :step)]}
  - if title?
    .title=title
  %blockquote
    =content.chomp
    - if attr? :attribution
      .attribution
        %cite<
          - if attr? :citetitle
            =%(#{attr :attribution}, #{attr :citetitle})
          - else
            =attr :attribution
