%div{:id=>@id, :class=>['audioblock', @style, role]}
  - if title?
    .title=captioned_title
  .content
    %audio{:src=>media_uri(attr :target), :autoplay=>(option? :autoplay),
        :controls=>!(option? :nocontrols), :loop=>(option? :loop)}
      Your browser does not support the audio tag.
