@import '../Shared.css';

.root {
    -fx-base: #ececec;
}

.button, .menu-button, .toggle-button, .choice-box {
    -fx-background-color: linear-gradient(rgb(238, 238, 238), rgb(210, 210, 210));
    -fx-text-fill: black;
    -fx-border-color: rgb(210, 210, 210);

}

.button:hover,
.menu-button:hover,
.toggle-button:hover,
.toggle-button:selected,
.toggle-button:focused,
.choice-box:hover {
    -fx-background-color: rgb(204, 204, 204);
}

.scroll-bar {
    -fx-background-color: white;
}

/* Tabs */
.tab-close-button {
    -fx-background-color: #aaaaaa;
}

.tab-close-button:hover {
    -fx-background-color: #000000;
}

.top-menu .top-label, .top-menu .top-label *, #showHideLogs * {
    -fx-text-fill: #7c7c7c;
    -fx-fill: -fx-text-fill;
    -fx-icon-color: -fx-text-fill;
}

.top-menu .top-label:hover, .top-menu .top-label *:hover, #showHideLogs *:hover {
    -fx-text-fill: #1e1e1e;
    -fx-fill: -fx-text-fill;
    -fx-icon-color: -fx-text-fill;
    -fx-background-color: rgba(255, 255, 255, 0.10);
}

.basic-search {
    -fx-background-color: #fcfcfc;
}

.text-input {
    -fx-background-color: -fx-box-border, white;
}

/* Tooltip */
.tooltip {
    -fx-border-color: rgb(175, 175, 175);
    -fx-background-color: rgb(244, 244, 244);
    -fx-text-fill: -fx-text-base-color;
}


.paypal-button {
    -fx-background-color: linear-gradient(rgb(227, 184, 103), rgb(190, 132, 66)) !important;
    -fx-text-fill: rgb(214, 255, 96) !important;
}

.paypal-button:hover {
    -fx-background-color: rgb(246, 185, 72) !important;
}