.rootAnchor {
    -fx-border-color: #ddd, transparent;
    -fx-border-width: 1px, 1px;
    -fx-border-insets: 0px, 1px;
}

.last-converted-file {
    -fx-text-fill: #c6c6c6;
    -fx-border-style: none;
}

.last-converted-file:hover {
    -fx-text-fill: #cd0a0a;
}

.split-pane .split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: #DDD;
}

.tab-pane {
    -fx-open-tab-animation: NONE;
    -fx-close-tab-animation: NONE;
}

.tab-close-button{
    -fx-background-color:grey;
}

.tab-close-button:hover{
    -fx-background-color:black;
}

.tree-view {
    -fx-border-color: transparent !important;
    -fx-background-color: transparent !important;
}

.tree-view .tree-cell {
    -fx-cursor: hand;
}

.anchor-pane {
    -fx-background-color: transparent !important;
}

/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/
.scroll-bar {
    -fx-background-color: white;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(205, 205, 205);
    -fx-background-insets: 2 0 2 0;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(205, 205, 205);
    -fx-background-insets: 0 2 0 2;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(215, 215, 215);
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(96, 96, 96);
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 3 3 3 3;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 3 3 3 3;
}

.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}

.scroll-bar:vertical .increment-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-padding: 0.25em;
    -fx-rotate: 180;
}

.scroll-bar:horizontal .decrement-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}

.scroll-bar:vertical .decrement-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-padding: 0.25em;
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: -fx-box-border, -fx-box-border, white;
}

/*******************************************************************************
 *                                                                             *
 * List View                                                                   *
 *                                                                             *
 ******************************************************************************/
/*.list-cell:odd {
    -fx-background-color: white;
}*/

.list-view:focused {
    -fx-background-color: -fx-box-border, -fx-box-border, white;
    -fx-text-fill: black;
}

.list-view:focused .list-cell:filled:selected,
.list-view:focused .list-cell:filled:selected:hover,
.list-view:focused .list-cell:filled:focused:selected,
.list-view:focused .list-cell:odd:filled:selected:focused:hover {
    -fx-background-color: -fx-box-border, rgb(205, 205, 205);
    -fx-text-fill: black;
}

.list-view .list-cell:hover,
.list-view .list-cell:odd:hover,
.list-view:focused .list-cell:odd:focused:hover,
.list-view:focused .list-cell:focused:hover {
    -fx-background-color: -fx-box-border, rgb(231, 231, 231);
    -fx-text-fill: black;
}

.list-view .list-cell:odd:focused:hover {
    -fx-background-color: -fx-box-border, rgb(205, 205, 205);
    -fx-text-fill: black;
}

.list-view .list-cell:selected {
    -fx-background-color: rgb(205, 205, 205);
    -fx-text-fill: black;
}

/*******************************************************************************
 *                                                                             *
 * TreeView and TreeCell                                                       *
 *                                                                             *
 ******************************************************************************/
.tree-view .tree-cell {
    /*-fx-indent: 6px;*/
}

.tree-view .label {
    -fx-text-fill: black;
}

.tree-view .tree-disclosure-node .arrow {
    -fx-text-fill: black;
}

.tree-cell:filled .tree-disclosure-node .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-text-fill: black;
}

.tree-view .tree-cell:hover {
    -fx-background-color: -fx-box-border, rgb(231, 231, 231);
    -fx-text-fill: black;
}

.tree-view .tree-cell:filled:selected:hover {
    -fx-background-color: -fx-box-border, rgb(205, 205, 205);
    -fx-text-fill: black;
}

.tree-view:focused .tree-cell:focused:hover {
    -fx-background-color: -fx-box-border, rgb(231, 231, 231);
    -fx-text-fill: black;
}

.tree-view:focused .tree-cell:filled:focused:selected,
.tree-view:focused .tree-cell:filled:focused:selected:hover {
    -fx-background-color: -fx-box-border, rgb(205, 205, 205);
    -fx-text-fill: black;
}

.tree-cell:filled:selected:focused, .tree-cell:filled:selected {
    -fx-background-color: -fx-box-border, rgb(205, 205, 205);
    -fx-text-fill: black;
}

/*******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/
.table-cell {
    -fx-padding: 0.8em 0em 0.5em 0.3em;
    -fx-border-color: transparent -fx-box-border transparent transparent;
    -fx-font: 12px "Segoe UI";
    -fx-text-fill: #212121;
}

.table-view {
    -fx-table-header-border-color: #959595;
    -fx-table-cell-border-color: -fx-box-border;
}

.table-view:focused {
    -fx-background-color: -fx-box-border, -fx-box-border, white;
}

.table-row-cell {
    -fx-background-color: white;
}

.table-row-cell:odd {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-view:focused .table-row-cell:focused, .table-view:focused .table-row-cell:focused:odd {
    -fx-background-color: -fx-box-border, white;
    -fx-background-insets: 0, 1, 2;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-box-border, rgb(205, 205, 205);
}

.table-view:focused .table-row-cell:filled:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {
    -fx-background-color: rgb(205, 205, 205);
    -fx-background-insets: 0, 1 1 1 1 0;
}

.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background-color: -fx-box-border, rgb(205, 205, 205);
    -fx-background-insets: 0, 1 1 1 1 0;
}

.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: rgb(205, 205, 205);
}

.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: rgb(231, 231, 231);
}

.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: rgb(205, 205, 205);
}

.table-view:focused .table-row-cell:filled:focused:hover {
    -fx-background-color: -fx-box-border, rgb(231, 231, 231);
}

.table-view .column-header-background {
    -fx-background-color: white;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: white;
    -fx-size: 35;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 0 0 -1;
    -fx-padding: 0 5 0 0;
}

.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 -1 0 0;
}

.table-view .column-drag-header {
    -fx-background-color: rgb(45, 137, 239);
    -fx-opacity: 0.6;
}

.table-view .column-resize-line {
    -fx-background-color: rgb(45, 137, 239);
}

.table-view .column-overlay {
    -fx-background-color: darkgray;
    -fx-opacity: 0.2;
}

.table-view .arrow {
    -fx-padding: 0.2em;
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}

/*******************************************************************************
 *                                                                             *
 * ProgressBar                                                                 *
 *                                                                             *
 ******************************************************************************/
.progress-bar .bar {
    -fx-background-color: rgb(45, 137, 239);
    -fx-background-insets: 3;
    -fx-padding: 1em;
}

.progress-bar:indeterminate .bar {
    -fx-background-color: rgb(45, 137, 239);
    -fx-border-style: none;
}

.progress-bar .track {
    -fx-background-color: -fx-box-border, rgb(231, 231, 231);
}

/*******************************************************************************
 *                                                                             *
 * ProgressIndicator                                                           *
 *                                                                             *
 ******************************************************************************/
.progress-indicator {
    -fx-progress-color: rgb(45, 137, 239);
}

.progress-indicator .indicator {
    -fx-background-color: rgb(231, 231, 231);
    -fx-border-color: -fx-box-border;
}

.progress-indicator .progress {
    -fx-background-color: transparent;
    -fx-padding: 2em;
}

.progress-indicator:indeterminate .spinner {
    -fx-padding: 1.5em;
}

.progress-indicator .percentage {
    -fx-font: 11px "Segoe UI";
    -fx-text-fill: #212121;
}

/*******************************************************************************
 *                                                                             *
 * TextField                                                                   *
 *                                                                             *
 ******************************************************************************/
.text-field {
    -fx-font: 12px "Segoe UI";
    -fx-text-fill: #212121;
    -fx-background-radius: 0;
    -fx-highlight-fill: rgb(45, 137, 239);
    -fx-background-color: -fx-box-border, white;
    -fx-border-color: transparent;
    -fx-border-insets: 6pt;
}

.text-field:focused {
    -fx-background-color: -fx-box-border, -fx-box-border, white;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-insets: 6pt;
}

/*******************************************************************************
 *                                                                             *
 * PasswordField                                                               *
 *                                                                             *
 ******************************************************************************/
.password-field {
    -fx-font: 12px "Segoe UI";
    -fx-text-fill: #212121;
}

/*******************************************************************************
 *                                                                             *
 * TextArea                                                                    *
 *                                                                             *
 ******************************************************************************/
.text-area {
    -fx-font: 12px "Segoe UI";
    -fx-text-fill: #212121;
    -fx-background-color: -fx-box-border, white;
    -fx-highlight-fill: rgb(45, 137, 239);
    -fx-background-radius: 0;
}

.text-area .scroll-pane .scroll-bar .track,
.text-area .scroll-pane .scroll-bar .scroll-bar,
.text-area .scroll-pane .scroll-bar .track-background {
    -fx-background-color: transparent;
}

.text-area:focused {
    -fx-background-color: -fx-box-border, -fx-box-border, white;
    -fx-background-radius: 0;
}

.editorToolsBar {
    -fx-selection-bar: transparent;
}

.editorToolsBar .label{
    -fx-text-fill: #7c7c7c;
    -fx-cursor: hand;
}

.editorToolsBar .label:hover{
    -fx-text-fill: #1e1e1e;
    -fx-background-color: rgba(255, 255, 255, 0.10);
}

.leftMenuBar *{
    -fx-cursor: hand;
    -icons-color: #1e1e1e;
    -fx-text-fill: #1e1e1e;
}

.recentListView .list-cell {
    -fx-padding: 5px;
    -fx-cursor: hand;
}

.recentFilesBar * {
    -fx-background-color: transparent;
    -fx-text-fill: #1e1e1e;
}

.file-tree{
    -fx-border-color: #ccc !important;
}

.menu-hbox{
    -fx-background-color: white;
}

.label.browser *, .label.browser{
    -fx-cursor: hand;
    -fx-font: 14px "Segoe UI";
    -fx-font-weight: bold;
    -fx-text-fill: rgba(205, 199, 120, 0.83);
}
.label.browser *:hover, .label.browser:hover{
    -fx-text-fill: #BDB76B ;
}

.label.pdf *, .label.pdf{
    -fx-cursor: hand;
    -fx-font: 14px "Segoe UI";
    -fx-font-weight: bold;
    -fx-text-fill: rgba(255, 0, 0, 0.43);
}
.label.pdf *:hover, .label.pdf:hover{
    -fx-text-fill: rgba(255, 0, 0, 0.68);
}

.label.html *, .label.html{
    -fx-cursor: hand;
    -fx-font: 14px "Segoe UI";
    -fx-font-weight: bold;
    -fx-text-fill: #d1d1d1;
}
.label.html *:hover, .label.html:hover{
    -fx-text-fill: #b0b0b0;
}

.label.ebook *, .label.ebook{
    -fx-cursor: hand;
    -fx-font: 14px "Segoe UI";
    -fx-font-weight: bold;
    -fx-text-fill: rgba(160, 205, 219, 0.82);
}
.label.ebook *:hover, .label.ebook:hover{
    -fx-text-fill: #87acba;
}

.label.docbook *, .label.docbook{
    -fx-cursor: hand;
    -fx-font: 14px "Segoe UI";
    -fx-font-weight: bold;
    -fx-text-fill: rgba(108, 209, 130, 0.65);
}
.label.docbook *:hover, .label.docbook:hover{
    -fx-text-fill: rgba(90, 180, 106, 0.82);
}

.preview-box{
    -fx-background-color: transparent;
}