.row.connection-closed {
    display: none;
}

p {
    text-rendering: auto !important;
}

h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
    text-rendering: auto !important;
}

.admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
    text-rendering: auto !important;
}

.verseblock pre {
    text-rendering: auto !important;
}

dt, th.tableblock, td.content, div.footnote {
    text-rendering: auto !important;
}