body {
    overflow: hidden;
}

#editor {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.ace_marker-layer .misspelled-strong, .misspelled-strong {
    position: absolute;
    z-index: -2;
    border-bottom: 1px dashed #e3727e;
    margin-bottom: -1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ace_marker-layer .misspelled, .misspelled {
    position: absolute;
    z-index: -2;
    border-bottom: 1px dashed #cccccc;
    margin-bottom: -1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ace_br1,
.ace_br2,
.ace_br3,
.ace_br4,
.ace_br5,
.ace_br6,
.ace_br7,
.ace_br8,
.ace_br9,
.ace_br10,
.ace_br11,
.ace_br12,
.ace_br13,
.ace_br14,
.ace_br15 {
    border-radius: 0px !important;
}

.ace_gutter-cell.ace_breakpoint {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjlERTk3MzIzRTMzRTExREZBNUQyRkY1MjIyNTJEODVDIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjlERTk3MzI0RTMzRTExREZBNUQyRkY1MjIyNTJEODVDIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OURFOTczMjFFMzNFMTFERkE1RDJGRjUyMjI1MkQ4NUMiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OURFOTczMjJFMzNFMTFERkE1RDJGRjUyMjI1MkQ4NUMiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5TpFkfAAABwUlEQVR42qSTz0sCQRTHZ3ZXw8nIwkOuSggFQT8QBDt07F/QQ+fwGtRJiQjs0KWCrlH9BxURXfoHooNih4J+QgcjEQycXHfXnZ3eiEVaatGD7868fW8+M+8xgznn6D+GWwH34fCk2+WadyhKRMJ40uY8Z1pW5k3TdkYvL2/aAs6Hh2Wf15t0E7IqY+xoTWSc67RSWQ5ls1s/Am6nprY9hCxIktT2uLZtoxKl6bGrq9UmwHkwGFUHBy96HI6uNVctiz8XixMz+fy18BXxIT5fmmsaqv2moYzhXlVdgdncJ4Cb5gyr1ZCNcdf1ogykKLMffh2gl8vEyRiSO9T/YRYADEr7mwCW2430QgE5ZbkrwICNmKp++vUtXdPTtKLryDAMVDPNthJxkUei0VITQI3FzsrQg04Q8f8N4hRK8Mfjx633IJxLpbJPGxuYQB+c0ExBxjCKOIO5CaMGi0fTaTaeSo2JS1sniISG1q83N/lBXx8/wpifSBI/BYlR+IceD7/b3YU0nvyy5ttbWKKPj2sP+/vkNZNB1ZcXRPx+NBCJoJFEgvYGAouQs9fxMYGFQPOgCGgIlAdlQDuNOeoG+JO9CzAA6mgJF9be7JsAAAAASUVORK5CYII=');
}